/.travis.yml export-ignore
/appveyor.yml export-ignore
/ci export-ignore
/.gitattributes export-ignore
/.github export-ignore
jdmrgext.c filter=lfs diff=lfs merge=lfs -text
jdphuff.c filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
jdct.h filter=lfs diff=lfs merge=lfs -text
gtest filter=lfs diff=lfs merge=lfs -text
jdatasrc-tj.c filter=lfs diff=lfs merge=lfs -text
jdcolext.c filter=lfs diff=lfs merge=lfs -text
md5 filter=lfs diff=lfs merge=lfs -text
rdppm.c filter=lfs diff=lfs merge=lfs -text
README.ijg filter=lfs diff=lfs merge=lfs -text
BUILDING.md filter=lfs diff=lfs merge=lfs -text
rdjpgcom.1 filter=lfs diff=lfs merge=lfs -text
jcparam.c filter=lfs diff=lfs merge=lfs -text
jdarith.c filter=lfs diff=lfs merge=lfs -text
jfdctfst.c filter=lfs diff=lfs merge=lfs -text
rdswitch.c filter=lfs diff=lfs merge=lfs -text
tjbench.c filter=lfs diff=lfs merge=lfs -text
cmyk.h filter=lfs diff=lfs merge=lfs -text
jdcoefct.c filter=lfs diff=lfs merge=lfs -text
jdmaster.h filter=lfs diff=lfs merge=lfs -text
jpegint.h filter=lfs diff=lfs merge=lfs -text
jquant1.c filter=lfs diff=lfs merge=lfs -text
LICENSE.md filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
tjunittest.c filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
wrtarga.c filter=lfs diff=lfs merge=lfs -text
jdmrg565.c filter=lfs diff=lfs merge=lfs -text
OWNERS.android filter=lfs diff=lfs merge=lfs -text
tjutil.c filter=lfs diff=lfs merge=lfs -text
tjutil.h filter=lfs diff=lfs merge=lfs -text
coderules.txt filter=lfs diff=lfs merge=lfs -text
jdcol565.c filter=lfs diff=lfs merge=lfs -text
jidctfst.c filter=lfs diff=lfs merge=lfs -text
libjpeg.txt filter=lfs diff=lfs merge=lfs -text
transupp.h filter=lfs diff=lfs merge=lfs -text
jcmainct.c filter=lfs diff=lfs merge=lfs -text
rdcolmap.c filter=lfs diff=lfs merge=lfs -text
jcmarker.c filter=lfs diff=lfs merge=lfs -text
jstdhuff.c filter=lfs diff=lfs merge=lfs -text
rdbmp.c filter=lfs diff=lfs merge=lfs -text
jidctred.c filter=lfs diff=lfs merge=lfs -text
jdmarker.c filter=lfs diff=lfs merge=lfs -text
jcphuff.c filter=lfs diff=lfs merge=lfs -text
jdmaster.c filter=lfs diff=lfs merge=lfs -text
rdjpgcom.c filter=lfs diff=lfs merge=lfs -text
transupp.c filter=lfs diff=lfs merge=lfs -text
jcicc.c filter=lfs diff=lfs merge=lfs -text
jcprepct.c filter=lfs diff=lfs merge=lfs -text
jdcoefct.h filter=lfs diff=lfs merge=lfs -text
jdmainct.h filter=lfs diff=lfs merge=lfs -text
jmemmgr.c filter=lfs diff=lfs merge=lfs -text
wizard.txt filter=lfs diff=lfs merge=lfs -text
cdjpeg.c filter=lfs diff=lfs merge=lfs -text
djpeg.c filter=lfs diff=lfs merge=lfs -text
jctrans.c filter=lfs diff=lfs merge=lfs -text
jdtrans.c filter=lfs diff=lfs merge=lfs -text
jfdctflt.c filter=lfs diff=lfs merge=lfs -text
ChangeLog.md filter=lfs diff=lfs merge=lfs -text
jcapistd.c filter=lfs diff=lfs merge=lfs -text
jcdctmgr.c filter=lfs diff=lfs merge=lfs -text
jchuff.c filter=lfs diff=lfs merge=lfs -text
jerror.h filter=lfs diff=lfs merge=lfs -text
jmorecfg.h filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
structure.txt filter=lfs diff=lfs merge=lfs -text
change.log filter=lfs diff=lfs merge=lfs -text
tjbenchtest.java.in filter=lfs diff=lfs merge=lfs -text
jpegtran.c filter=lfs diff=lfs merge=lfs -text
jcstest.c filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
cjpeg.1 filter=lfs diff=lfs merge=lfs -text
jcmaster.c filter=lfs diff=lfs merge=lfs -text
jdatadst.c filter=lfs diff=lfs merge=lfs -text
jpeglib.h filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
usage.txt filter=lfs diff=lfs merge=lfs -text
jchuff.h filter=lfs diff=lfs merge=lfs -text
jdhuff.c filter=lfs diff=lfs merge=lfs -text
jpeg_nbits_table.h filter=lfs diff=lfs merge=lfs -text
rdtarga.c filter=lfs diff=lfs merge=lfs -text
wrppm.c filter=lfs diff=lfs merge=lfs -text
jcinit.c filter=lfs diff=lfs merge=lfs -text
jconfigint.h.in filter=lfs diff=lfs merge=lfs -text
jinclude.h filter=lfs diff=lfs merge=lfs -text
jcapimin.c filter=lfs diff=lfs merge=lfs -text
jdmerge.c filter=lfs diff=lfs merge=lfs -text
jutils.c filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
testimages filter=lfs diff=lfs merge=lfs -text
jdatasrc.c filter=lfs diff=lfs merge=lfs -text
jidctint.c filter=lfs diff=lfs merge=lfs -text
jmemnobs.c filter=lfs diff=lfs merge=lfs -text
jsimddct.h filter=lfs diff=lfs merge=lfs -text
simd filter=lfs diff=lfs merge=lfs -text
jdicc.c filter=lfs diff=lfs merge=lfs -text
croptest.in filter=lfs diff=lfs merge=lfs -text
DIR_METADATA filter=lfs diff=lfs merge=lfs -text
jdhuff.h filter=lfs diff=lfs merge=lfs -text
jdinput.c filter=lfs diff=lfs merge=lfs -text
jdmainct.c filter=lfs diff=lfs merge=lfs -text
jdsample.c filter=lfs diff=lfs merge=lfs -text
jpegtran.1 filter=lfs diff=lfs merge=lfs -text
cjpeg.c filter=lfs diff=lfs merge=lfs -text
wrbmp.c filter=lfs diff=lfs merge=lfs -text
jsimd_none.c filter=lfs diff=lfs merge=lfs -text
jconfigint.h filter=lfs diff=lfs merge=lfs -text
jdsample.h filter=lfs diff=lfs merge=lfs -text
rdgif.c filter=lfs diff=lfs merge=lfs -text
tjbenchtest.in filter=lfs diff=lfs merge=lfs -text
turbojpeg.h filter=lfs diff=lfs merge=lfs -text
BUILD.gn filter=lfs diff=lfs merge=lfs -text
jccolext.c filter=lfs diff=lfs merge=lfs -text
jdpostct.c filter=lfs diff=lfs merge=lfs -text
jfdctint.c filter=lfs diff=lfs merge=lfs -text
README.chromium filter=lfs diff=lfs merge=lfs -text
djpeg.1 filter=lfs diff=lfs merge=lfs -text
cderror.h filter=lfs diff=lfs merge=lfs -text
jdapimin.c filter=lfs diff=lfs merge=lfs -text
libjpeg.map.in filter=lfs diff=lfs merge=lfs -text
jccolor.c filter=lfs diff=lfs merge=lfs -text
jccoefct.c filter=lfs diff=lfs merge=lfs -text
jconfig.h.in filter=lfs diff=lfs merge=lfs -text
jcsample.c filter=lfs diff=lfs merge=lfs -text
jdapistd.c filter=lfs diff=lfs merge=lfs -text
jdmerge.h filter=lfs diff=lfs merge=lfs -text
jquant2.c filter=lfs diff=lfs merge=lfs -text
wrjpgcom.1 filter=lfs diff=lfs merge=lfs -text
codereview.settings filter=lfs diff=lfs merge=lfs -text
wrjpgcom.c filter=lfs diff=lfs merge=lfs -text
jpeg_nbits_table.c filter=lfs diff=lfs merge=lfs -text
jdatadst-tj.c filter=lfs diff=lfs merge=lfs -text
jaricom.c filter=lfs diff=lfs merge=lfs -text
jdcolor.c filter=lfs diff=lfs merge=lfs -text
turbojpeg-jni.c filter=lfs diff=lfs merge=lfs -text
turbojpeg-mapfile.jni filter=lfs diff=lfs merge=lfs -text
cdjpeg.h filter=lfs diff=lfs merge=lfs -text
jconfig.h filter=lfs diff=lfs merge=lfs -text
jddctmgr.c filter=lfs diff=lfs merge=lfs -text
jmemsys.h filter=lfs diff=lfs merge=lfs -text
jpeglibmangler.h filter=lfs diff=lfs merge=lfs -text
wrgif.c filter=lfs diff=lfs merge=lfs -text
jcomapi.c filter=lfs diff=lfs merge=lfs -text
jidctflt.c filter=lfs diff=lfs merge=lfs -text
jsimd.h filter=lfs diff=lfs merge=lfs -text
jversion.h filter=lfs diff=lfs merge=lfs -text
turbojpeg.c filter=lfs diff=lfs merge=lfs -text
turbojpeg-mapfile filter=lfs diff=lfs merge=lfs -text
jconfig.txt filter=lfs diff=lfs merge=lfs -text
jerror.c filter=lfs diff=lfs merge=lfs -text
jpegcomp.h filter=lfs diff=lfs merge=lfs -text
README.android filter=lfs diff=lfs merge=lfs -text
jcarith.c filter=lfs diff=lfs merge=lfs -text
